name: Deploy Backend and Frontend

on:
  workflow_dispatch:  
  workflow_call:
    inputs:
      image_tag:
        required: false
        type: string

jobs:
  docker:
    runs-on: [self-hosted, splitzy]

    steps:
      - name: Deploy
        run: /opt/splitzy/scripts/deploy.sh 